In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from tqdm import tqdm

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/test-recsys/tab_6_city.csv
/kaggle/input/test-recsys/sample_submission.csv
/kaggle/input/test-recsys/sbermarket_tab_2_5/tab_2_products_2020-07-09.csv
/kaggle/input/test-recsys/sbermarket_tab_2_5/tab_2_products_2020-07-29.csv
/kaggle/input/test-recsys/sbermarket_tab_2_5/tab_2_products_2020-07-19.csv
/kaggle/input/test-recsys/sbermarket_tab_2_1/tab_2_products_2020-01-21.csv
/kaggle/input/test-recsys/sbermarket_tab_2_1/tab_2_products_2020-01-01.csv
/kaggle/input/test-recsys/sbermarket_tab_2_1/tab_2_products_2020-03-11.csv
/kaggle/input/test-recsys/sbermarket_tab_2_1/tab_2_products_2020-02-10.csv
/kaggle/input/test-recsys/sbermarket_tab_2_1/tab_2_products_2020-01-31.csv
/kaggle/input/test-recsys/sbermarket_tab_2_1/tab_2_products_2020-02-20.csv
/kaggle/input/test-recsys/sbermarket_tab_2_1/tab_2_products_2020-03-21.csv
/kaggle/input/test-recsys/sbermarket_tab_2_1/tab_2_products_2020-03-01.csv
/kaggle/input/test-recsys/sbermarket_tab_2_1/tab_2_products_2020-01-11.csv
/kaggle/input/test-recsys/sbermarket_tab_2_1/tab_2_products_2020-03-31.csv
/kaggle/input/test-recsys/sbermarket_tab_2_2/tab_2_products_2020-04-20.csv
/kaggle/input/test-recsys/sbermarket_tab_2_2/tab_2_products_2020-04-30.csv
/kaggle/input/test-recsys/sbermarket_tab_2_2/tab_2_products_2020-04-10.csv
/kaggle/input/test-recsys/sbermarket_tab_2_3/tab_2_products_2020-05-20.csv
/kaggle/input/test-recsys/sbermarket_tab_2_3/tab_2_products_2020-05-10.csv
/kaggle/input/test-recsys/sbermarket_tab_2_3/tab_2_products_2020-05-30.csv
/kaggle/input/test-recsys/kaggle_tab_1345/tab_1_orders.csv
/kaggle/input/test-recsys/kaggle_tab_1345/tab_4_user_profiles.csv
/kaggle/input/test-recsys/kaggle_tab_1345/tab_3_categories.csv
/kaggle/input/test-recsys/kaggle_tab_1345/tab_5_product_properties.csv
/kaggle/input/test-recsys/sbermarket_tab_2_6/tab_2_products_2020-08-18.csv
/kaggle/input/test-recsys/sbermarket_tab_2_6/tab_2_products_2020-08-08.csv
/kaggle/input/test-recsys/sbermarket_tab_2_6/tab_2_products_2020-08-28.csv
/kaggle/input/test-recsys/sbermarket_tab_2_6/tab_2_products_2020-09-07.csv
/kaggle/input/test-recsys/sbermarket_tab_2_4/tab_2_products_2020-06-19.csv
/kaggle/input/test-recsys/sbermarket_tab_2_4/tab_2_products_2020-06-09.csv
/kaggle/input/test-recsys/sbermarket_tab_2_4/tab_2_products_2020-06-29.csv

In [3]:
!ls /kaggle/input

test-recsys

In [28]:
products = pd.read_csv("/kaggle/input/test-recsys/sbermarket_tab_2_1/tab_2_products_2020-01-01.csv")

In [30]:
products[products.user_id==525]

,user_id,order_id,line_item_id,price,quantity,discount,product_name,product_id,brand_name,master_category_id,parent_category_id
0,525,5354800,28381452,116.000000,4,0.000000,Лазанья Золотой Петушок мясной слоеный пирог з...,37548,Золотой Петушок,101.0,99
1,525,5354800,29242911,56.990002,2,13.080000,Хлеб Хлебный Дом Геркулес зерновой с отрубями ...,5636,Хлебный Дом,596.0,51
2,525,5354800,29242919,64.989998,2,40.020000,Тортилья Delicados оригинальная пшеничная,22107,Delicados,596.0,51
3,525,5354800,29243785,44.990002,6,0.000000,Вода питьевая минеральная BonAqua газированная...,2530,BonAqua,77.0,74
4,525,5354800,29244246,65.900002,6,30.990000,"Газированный напиток Mirinda Апельсин 1,5 л",3818486,Mirinda,76.0,74
5,525,5354800,29245495,29.900000,1,39.990002,Помидоры черри красные 250 г,687,Без бренда,85.0,84
6,525,5354800,29245927,239.000000,1,91.000000,Сыр полутвердый Сыробогатов Российский 50% 400...,64913,Сыробогатов,36.0,35
7,525,5354800,29246056,448.459991,1,125.580002,Сосиски Черкизово Молочные по-черкизовски,4372,Черкизово,47.0,42
8,525,5354800,29246248,410.470001,1,188.220001,Колбаса Дымов Праздничная сырокопченая ~590 г,16673,Дымов,45.0,42
9,525,5354800,29246761,38.990002,6,0.000000,Энергетический напиток Monster красный,67252,Monster,634.0,74
10,525,5354800,29246845,46.900002,6,29.100000,Напиток Turbo Energy энергетический безалкогол...,4203439,Turbo Energy,634.0,74
11,525,5354800,29246931,104.900002,2,72.099998,Сок Добрый томат,2303,Добрый,630.0,74
12,525,5354800,29246955,116.000000,4,0.000000,Лазанья Золотой Петушок мясной слоеный пирог з...,37548,Золотой Петушок,101.0,99
13,525,5354800,29272563,69.989998,2,0.000000,Тортилья Horeca Select пшеничная 20 см,16230,Horeca Select,596.0,51

In [6]:
table1.columns

Index(['user_id', 'order_id', 'line_item_id', 'price', 'quantity', 'discount',
       'product_name', 'product_id', 'brand_name', 'master_category_id',
       'parent_category_id'],
      dtype='object')

In [24]:
orders = pd.read_csv("/kaggle/input/test-recsys/kaggle_tab_1345/tab_1_orders.csv")

orders

         user_id  order_id   order_created_time  retailer  store_id   platform
0             72  17431000  2020-09-26 10:48:57     METRO        21        app
1             83   9718154  2020-05-08 09:46:18     METRO        87        web
2            142  10056850  2020-05-14 15:06:03     METRO       320        app
3            187  15952443  2020-09-01 17:34:00  ВкусВилл       533        app
4            224  10409918  2020-05-20 06:32:50      Ашан       183        web
...          ...       ...                  ...       ...       ...        ...
2461953  3432957  15948419  2020-09-01 15:41:27     Лента       218        app
2461954  3432966  16855344  2020-09-17 10:16:16     Лента       130        app
2461955  3432977   9214726  2020-04-29 10:09:37     Лента       373        app
2461956  3433000  17739392  2020-09-30 09:18:19     Лента       781  undefined
2461957  3433023  10205918  2020-05-16 22:33:20     METRO       189        app

[2461958 rows x 6 columns]

In [27]:
orders[orders.user_id == 1132]

     user_id  order_id   order_created_time retailer  store_id platform
129     1132   5715638  2020-01-15 09:44:42    METRO         1      app
130     1132   7060460  2020-03-15 16:56:40    METRO         1      app
131     1132   7409961  2020-03-25 19:58:04    METRO         1      app
132     1132   8691729  2020-04-18 18:01:04    METRO         1      app
133     1132  11643297  2020-06-08 18:41:25    METRO         1      app
134     1132  11643931  2020-06-08 19:00:21    METRO         1      app
135     1132  12423979  2020-06-22 15:31:29    METRO         1      app
136     1132  15800087  2020-08-29 20:47:14    METRO         1      app
137     1132  16398706  2020-09-09 12:58:36    METRO         1      app

In [2]:
categories = pd.read_csv("/kaggle/input/test-recsys/kaggle_tab_1345/tab_3_categories.csv")

categories

        id                                name  parent_id
0        1                    Продукты питания          0
1        2               Замороженные продукты          1
2        3         Замороженные овощи и фрукты          2
3        4          Замороженные полуфабрикаты          2
4        5                   Рыба замороженная          2
...    ...                                 ...        ...
1011  1012              Перевязочные материалы        571
1012  1013                 Расходные материалы        571
1013  1014               Диагностические тесты        571
1014  1015             Диагностические приборы        571
1015  1016  Линзы, уход за контактными линзами        572

[1016 rows x 3 columns]

In [15]:
user_profiles = pd.read_csv("/kaggle/input/test-recsys/kaggle_tab_1345/tab_4_user_profiles.csv")

user_profiles

        user_id  gender       bdate
0       2224890     NaN         NaN
1       1683001    male  1987-10-11
2       2102480     NaN         NaN
3       2224895     NaN         NaN
4        930197     NaN         NaN
...         ...     ...         ...
438862  3424212  female  1997-09-15
438863  3424222    male  1978-09-18
438864  3424225  female  1981-11-02
438865  3424228  female  1993-10-04
438866   797420  female  1981-07-22

[438867 rows x 3 columns]

In [7]:
product_properties = pd.read_csv("/kaggle/input/test-recsys/kaggle_tab_1345/tab_5_product_properties.csv")

product_properties

         product_id     property_name                    property_value
0                 1               Вес                             100 г
1                 2               Вид                  Молочный напиток
2                 2               Вес                             100 г
3                 2              Вкус                           Черника
4                 2             Сырье                Натуральное молоко
...             ...               ...                               ...
6990203    15016346     Срок хранения                      Не ограничен
6990204    15016347        Количество                              1 шт
6990205    15016347          Материал                            Стекло
6990206    15016347  Условия хранения  Не предусмотрено особых условий.
6990207    15016347     Срок хранения                      Не ограничен

[6990208 rows x 3 columns]

In [19]:
cities = pd.read_csv("/kaggle/input/test-recsys/tab_6_city.csv")

cities

     store_id city_name
0          14    Москва
1          21    Москва
2           1    Москва
3           4    Москва
4           7    Москва
..        ...       ...
783       816    Москва
784       814    Москва
785       812    Москва
786       841    Самара
787       815    Москва

[788 rows x 2 columns]

In [30]:
pd.read_csv("/kaggle/input/test-recsys/sample_submission.csv")

             Id                                          Predicted
0            51  3239211 10720024 8493844 1965540 5009002 95218...
1            65  11693356 13392267 2464515 2245175 4748570 1134...
2           766  12773054 3692749 12726751 10041624 11893515 23...
3          1132  8613934 3599065 575614 4821474 11609320 699047...
4          1578  289404 4328240 3129788 9390886 11166655 173077...
...         ...                                                ...
107063  2997849  488280 12804927 11495685 10630957 10105977 123...
107064  2997853  8793937 4387315 2889577 12818088 5845044 33833...
107065  2997873  13062625 4299544 6891932 6790047 5060191 19574...
107066  2997988  450088 7429186 2128096 12142139 4530043 425405...
107067  2998048  8821711 6445161 10484134 12401659 9743691 3364...

[107068 rows x 2 columns]

**Collecting the frequency of products by each client, and also collecting average discount of each product**

In [41]:
def get_best_product(main_dict, i, pop_products_items):
    """
    return string of a sequence of recommendations
    with a given client
    
    this is sorted by frequency of purchases of a product and by an average discount share
    
    if there are less than 50 possible products that client has ever bought, then it fills with other popular products
    """
    if main_dict.get(i) is not None:
        l = sorted(main_dict[i].items(), key=lambda item: (item[1][0], item[1][1] / item[1][0]), reverse=True)[:50]
    else:   
        l = []
    l = [x[0] for x in l]
    
    r = [x[0] for x in pop_products_items[:50-len(l)]]
    
    l.extend(r)
       
    return " ".join(map(lambda x: str(x), l))

collecting the product purchases for each client

In [40]:
import glob, os
# os.chdir("/kaggle/input/test-recsys/sbermarket_tab_2_1")

dirnames = ["/kaggle/input/test-recsys/sbermarket_tab_2_1",
           "/kaggle/input/test-recsys/sbermarket_tab_2_2",
           "/kaggle/input/test-recsys/sbermarket_tab_2_3",
           "/kaggle/input/test-recsys/sbermarket_tab_2_4",
           "/kaggle/input/test-recsys/sbermarket_tab_2_5",
           "/kaggle/input/test-recsys/sbermarket_tab_2_6"]

count_user_product_dict = {}
popular_products = {}


for dirname in dirnames:
    for filename in tqdm(os.listdir(dirname)):
        products = pd.read_csv(os.path.join(dirname, filename)).loc[:,
                                            ["user_id", "order_id"]]
        for raw in products.itertuples():
            if raw.product_id != 0:
                d = count_user_product_dict.get(raw.user_id, {})
                if d.get(raw.product_id) is None:
                    d[raw.product_id] = [0, 0]     
                d[raw.product_id][0] += 1
                if raw.price != 0:
                    d[raw.product_id][1] += raw.discount / (raw.price + raw.discount)
                count_user_product_dict[raw.user_id] = d
                
                popular_products[raw.product_id] = popular_products.get(raw.product_id, 0) + 1

100%|██████████| 10/10 [01:20<00:00,  8.06s/it]
100%|██████████| 3/3 [01:25<00:00, 28.43s/it]
100%|██████████| 3/3 [01:51<00:00, 37.26s/it]
100%|██████████| 3/3 [01:25<00:00, 28.34s/it]
100%|██████████| 3/3 [01:21<00:00, 27.11s/it]
100%|██████████| 4/4 [01:56<00:00, 29.14s/it]

getting the most popular products

In [42]:
pop_product_items = sorted(popular_products.items(), key=lambda item: item[1], reverse=True)[:50]

In [43]:
get_best_product(count_user_product_dict, 2997849, pop_product_items)
# count_user_product_dict[2997849]

'93412 94112 709 39590 166 55133 3497419 1300 67694 55134 5469728 3817484 165 3817542 158 63072 5479511 176 5217 69669 39591 14564 100789 9959 3817489 49911 3497570 94333 72875 7401 72006 21904 73725 687 14630 21767 7397 100 72003 68465 72011 52657 304 54728 39770 66893 224 981 225 10049'

In [44]:
get_best_product(count_user_product_dict, 51, pop_product_items)

'14863 63057 19562 3562687 709 9979 661 456 5501 3817489 655 54728 562 54710 407 87007 3817538 50190 2600 6005183 57399 84364 84365 3562686 46762 55049 64633 63724 57398 55133 16219 93822 93825 3817487 5851 5481648 57554 29788 25198 487 4830888 50539 3817571 56900 58839 7397 58780 27471 5509 63725'

aggregating the quantities of purchases for each client

In [2]:
dirnames = ["/kaggle/input/test-recsys/sbermarket_tab_2_1",
           "/kaggle/input/test-recsys/sbermarket_tab_2_2",
           "/kaggle/input/test-recsys/sbermarket_tab_2_3",
           "/kaggle/input/test-recsys/sbermarket_tab_2_4",
           "/kaggle/input/test-recsys/sbermarket_tab_2_5",
           "/kaggle/input/test-recsys/sbermarket_tab_2_6"]

quantity_user_product_dict = {}

for dirname in dirnames:
    for filename in tqdm(os.listdir(dirname)):
        products = pd.read_csv(os.path.join(dirname, filename)).loc[:,["user_id", "product_id", "quantity"]]
        for raw in products.itertuples():
            d = quantity_user_product_dict.get(raw.user_id, {})
            d[raw.product_id] = d.get(raw.product_id, 0) + raw.quantity
            quantity_user_product_dict[raw.user_id] = d

100%|██████████| 10/10 [00:48<00:00,  4.88s/it]
100%|██████████| 3/3 [00:50<00:00, 16.68s/it]
100%|██████████| 3/3 [01:05<00:00, 21.99s/it]
100%|██████████| 3/3 [00:49<00:00, 16.53s/it]
100%|██████████| 3/3 [00:47<00:00, 15.74s/it]
100%|██████████| 4/4 [01:06<00:00, 16.67s/it]

get prediction

In [48]:
example_submission = pd.read_csv("/kaggle/input/test-recsys/sample_submission.csv")

test_user_ids = example_submission["Id"].values

In [34]:
S = 0

for k in test_user_ids:
    if len(get_best_product(count_user_product_dict, k,
                           pop_product_items).split(" ")) != 50:
        S += 1
print(S)

0

In [51]:
submission = pd.DataFrame({
    "Id": test_user_ids,
    "Predicted": map(lambda i: get_best_product(count_user_product_dict,i,
                                                pop_product_items), test_user_ids)
})

In [53]:
submission

             Id                                          Predicted
0            51  14863 63057 19562 3562687 709 9979 661 456 550...
1            65  54728 18450 3817542 709 26062 18439 105764 771...
2           766  3043457 3041849 4033676 3042629 3497419 981 34...
3          1132  95465 91008 2629 9970 2599278 1199 4033579 216...
4          1578  22161 19924 304 4513 45457 69131 4689 19562 25...
...         ...                                                ...
107063  2997849  93412 94112 709 39590 166 55133 3497419 1300 6...
107064  2997853  60692 100804 26086 20302 3818498 96291 9708 58...
107065  2997873  8016 14248 6210170 46762 67520 7062001 14341 6...
107066  2997988  6590 180 6695385 100 7008784 6749607 6749608 1...
107067  2998048  29647 8187 166 50018 468 6827831 5046788 62233...

[107068 rows x 2 columns]

In [38]:
submission.to_csv("/kaggle/working/submission.csv", index=False)